.map-margin {
  margin: 2rem;
}

.container-margin-bottom {
  margin-bottom: 3rem;
}

.right {
  text-align: center;
}

.list-header {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #423b3b;
}


